body {
	font-family: sans-serif
}

h2 {
	margin: 0;
}

.tabs {
	display: flex;
	flex-grow: 0;
	margin: 0 0 1px 0;
	padding: 0;
	list-style: none;
}

.tabs li {
	margin: 0 0.2em 0;
	border: 1px solid #aaa;
	border-bottom: 0;
}

.tabs li a {
	color: #ccc;
	text-decoration: none;
	font-weight: bold;
	padding:0.3em 0.6em;
}

.tabs li a:hover {
	color: #999;
}

.tabs li a.active {
	position: relative;
	color: #000;
	border-bottom: 1px solid #fff;
}

.tabs li a.active::after {
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 100%;
	height: 3px;
	background-color: #fff;
	content: " ";
	font-size: 1px;
}

.tabs ~ div {
	border: 1px solid #aaa;
	padding: 10px 20px;
}
