/*
*	DEFAULTS
*/

* { margin: 0; padding: 0; }
body { color: #b3b3bb; background: #131314; font: 100%/1.125em Verdana, sans-serif; }
input, button, textarea { font: 1em Verdana, sans-serif;}
input, button { vertical-align: middle; }
legend { display: none; }
fieldset { border: none; }
ul, ol { list-style: none; }
a { color: #7d94bc; text-decoration: none; font-weight: bold; outline:none }
a:hover { color: #cccccc; }
a img { border: 0; }
table { border-collapse: collapse; }
hr { display: none; }

/*
*	PAGE
*/

#page { background: #1d1d20; width: 720px; margin: 0 auto; font-size: .75em; padding: 20px; }
* html #page { height: 1%; }
#page h1 { margin-bottom: 20px; font-size: 1.5em; }

/*
*	TABS
*/

#tabs { overflow: hidden; }
* html #tabs { height: 1%; }

	/* click me */
	
#click-me { float: left; display: block; padding: 5px 10px; line-height: 1em; font-weight: bold; color: #1d1d1d; background: #cccccc; }
#click-me:hover { background: #a8a8a8; }
#click-me.active { color: #cccccc; background: #2a2a2f; }
#click-me.active:hover { color: #cccccc; background: #2a2a2f; }

/*
*	BOX
*/

#box { clear: both; background: #2a2a2f; padding: 0 10px 10px 10px; display: none; }

	/* tabs */
	
#box ul.tabs { overflow: hidden; padding-top: 10px; }
* html #box ul.tabs { height: 1%; }
#box ul.tabs li { float: left; }
#box ul.tabs li a { float: left; background: #1c1c1c; padding: 5px 10px; margin-right: 2px; }
#box ul.tabs li a.active { color: #cccccc; background: #222225; }

	/* content */
	
#box div.content { color: #999999; background: #222225; padding: 20px 20px 1px 20px; display: none; }
#box div.content h2 { font-size: 1.3em; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #333333; }
#box div.content h3 { font-size: 1.1em; margin-bottom: 20px; border: none; }
#box div.content p { margin-bottom: 20px; }

/*
*	FEATURES
*/

#box #features { overflow: hidden; padding-bottom: 20px; }
* html #features { height: 1%; }

	/* tabs */
	
#features ul.tabs { float: left; padding-top: 0; }
#features ul.tabs li { float: none; display: block; }
#features ul.tabs li a { float: none; display: block; margin: 0 1px 1px 0; width: 149px; padding: 0 20px; line-height: 40px; color: #666666; background: #1c1c1d; }
#features ul.tabs li a:hover { color: #bbbbbb; }
#features ul.tabs li a.active { color: #bbbbbb; background: #191919; margin-right: 0; width: 150px; }

	/* content */
	
#features div.content { font-size: .9em; padding: 20px; float: left; width: 428px; min-height: 123px; background: #191919; color: #aaaaaa; }
* html #features div.content { height: 123px; }
#features div.content p { margin: 0; }

/*
*	GALLERY
*/

#box #gallery { overflow: hidden; padding-bottom: 20px; }
* html #gallery { height: 1%; }

	/* images */
	
#gallery #gallery-preview { float: left; width: 308px; background: #191919; padding: 10px 0 0 10px; height: 204px; }
* html #gallery #gallery-preview { padding-left: 14px; width: 312px; }
#gallery #gallery-preview a { float: left; margin: 0px 10px 10px 0; border: 1px solid #111111; }
#gallery #gallery-preview a.active,
#gallery #gallery-preview a:hover { border-color: #485670; }
#gallery #gallery-preview a img { display: block; }

#gallery #gallery-image { float: right; background: #485670; padding: 1px; border: 11px solid #191919; }

/*
*	FAQ
*/

#faq h3 { font-size: 1.1em; margin-bottom: 10px; }
#faq h3 a.active { color: #b3b3bb; text-decoration: none; }
#faq p { margin-bottom: 10px; }
#faq div { display: none; }
